DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=chatbot-postgres
DB_HOST=db
DB_URL=postgresql://username:password@db:5432/chatbot-postgres

JWT_SECRET=your-secret-key
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

GOOGLE_API_KEY=AIzxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# n8n Configuration (Sumopod Production Line)
N8N_WEBHOOK_URL_TEXT=https://your-domain.sumopod.my.id/webhook/epson/chat/text
N8N_WEBHOOK_URL_IMAGE=https://your-domain.sumopod.my.id/webhook/epson/chat/image