DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=chatbot-postgres
DB_HOST=db
DB_URL=postgresql://postgres:password@db:5432/chatbot-postgres

FRONTEND_URL=http://localhost
INDEXER_URL=http://indexer:5000
HOST=localhost

INDEXER_SECRET=rahasia-kita-berdua-ya
JWT_SECRET=your-secret-key

QDRANT_COLLECTION=knowledge_base_epson
NODE_ENV=development

GOOGLE_API_KEY=AIzxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
N8N_WEBHOOK_URL=https://your-domain.sumopod.my.id/webhook/
